* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(128, 159, 247);
}

/* GRID ITEM HEADER */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header .enlaces:hover {
  background-color: cornflowerblue;
  color: white;
}
header .enlaces:visited {
  background-color: black;
}
header .logo {
  width: 14%;
  height: 100%;
}
header .nav ul {
  display: flex;
  justify-content: flex-end;
}
header .nav ul li {
  list-style: none;
  padding-left: 15%;
  padding-right: 15px;
}
header .menuHamburguesa {
  display: none;
}

/* GRID CONTAINER */
.containerGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto auto;
  gap: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.containerGrid > * {
  border: solid 1px black;
  color: white;
}

/* TABLET menor 1024px */
@media screen and (max-width: 1023px) {
  .containerGrid {
    grid-template-rows: auto auto auto auto;
  }
  .nav ul li {
    list-style: none;
  }
  header .menuHamburguesa {
    display: block;
    color: black;
    height: 100%;
    width: 5%;
    margin-right: 10px;
  }
  .section1 .banner {
    width: 100%;
    height: 309px;
  }
  .section1 h1 {
    background-color: white;
    font-family: coopperplate;
    text-align: center;
    font-size: 40px;
    color: blue;
    padding-top: 2px;
  }
  .section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .section2 #cuadro2 {
    padding-top: 2px;
    padding-left: 2px;
    text-align: center;
  }
  footer {
    font-size: large;
    display: flex;
    flex-direction: column;
  }
  footer .fo {
    font-size: 90%;
    padding-right: 3px;
    align-items: center;
    width: 100%;
  }
  footer .fo ul li {
    padding-top: 10%;
  }
  footer .newsletter {
    margin-top: 20px;
    font-size: 90%;
    align-items: center;
    width: 100%;
  }
  footer .form {
    align-items: center;
    width: 100%;
  }
  footer .redes {
    margin-left: 3%;
    margin-top: 20px;
    font-size: 90%;
    align-items: center;
    width: 100%;
  }
  footer .redes li {
    margin-left: 15%;
    font-size: 90%;
    padding-top: 8%;
  }
}
/* MOBILE menor 768px */
@media screen and (max-width: 768px) {
  .nav ul li {
    display: none;
  }
  .logo {
    padding-left: 2px;
    height: 100%;
  }
  .menuHamburguesa {
    display: block;
    color: black;
    height: 100%;
    width: 5%;
    margin-right: 10px;
  }
  .section1 .banner {
    width: 100%;
    height: 269px;
  }
}
/* GRID ITEM SECTION1*/
.section1 {
  display: flex;
  flex-direction: column;
}
.section1 .banner {
  width: 100%;
  height: 350px;
  background-image: url("../../img/levantacopa.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section1 h1 {
  background-color: white;
  font-family: coopperplate;
  text-align: center;
  font-size: 40px;
  color: blue;
  padding-top: 2px;
  height: auto;
}

/* GRID ITEM SECTION2*/
.section2 {
  background-color: white;
  display: flex;
}
.section2 #cuadro1 {
  border: solid 1px black;
  padding: 2% 2% 2% 2%;
  color: black;
}
.section2 #cuadro1 h2 {
  padding-bottom: 10px;
  font-size: 35px;
}
.section2 #cuadro1 p {
  font-size: 100%;
  padding-bottom: 10px;
}
.section2 #cuadro2 {
  padding-top: 2px;
  padding-left: 2px;
  border: solid 1px black;
}

/* SECCION PARTIDOS */
.row > div {
  border: 1px solid black;
  padding: 2% 2% 2% 2%;
}

.card-img-top {
  height: 205px;
}

/* SECCION NOTICIAS */
h1 {
  text-align: center;
}

/* SECCION BLOG */
h2 {
  text-align: center;
}

/* SECCION CONTACTO */
.form-check {
  text-align: center;
}

.form-check .form-check-input {
  float: center;
  margin-left: -1.5em;
}

.boton {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

/* GRID ITEM FOOTER*/
footer {
  display: flex;
  background-color: rgb(165, 164, 164);
}
footer .fo {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  width: 25%;
}
footer .titulo {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1%;
}
footer .newsletter {
  padding-top: 1%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer .redes {
  width: 25%;
  padding-top: 1%;
  color: black;
  display: flex;
  flex-direction: column;
}
footer li {
  padding-top: 3%;
  list-style: none;
}

/* TABLET menor 1024px */
@media screen and (max-width: 1023px) {
  .containerGrid {
    grid-template-rows: auto auto auto auto;
  }
  .nav ul li {
    list-style: none;
  }
  header .menuHamburguesa {
    display: block;
    color: black;
    height: 100%;
    width: 5%;
    margin-right: 10px;
  }
  .section1 .banner {
    width: 100%;
    height: 309px;
  }
  .section1 h1 {
    background-color: white;
    font-family: coopperplate;
    text-align: center;
    font-size: 40px;
    color: blue;
    padding-top: 2px;
  }
  .section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .section2 #cuadro2 {
    padding-top: 2px;
    padding-left: 2px;
    text-align: center;
  }
  footer {
    font-size: large;
    display: flex;
    flex-direction: column;
  }
  footer .fo {
    font-size: 90%;
    padding-right: 3px;
    align-items: center;
    width: 100%;
  }
  footer .fo ul li {
    padding-top: 10%;
  }
  footer .newsletter {
    margin-top: 20px;
    font-size: 90%;
    align-items: center;
    width: 100%;
  }
  footer .form {
    align-items: center;
    width: 100%;
  }
  footer .redes {
    margin-left: 3%;
    margin-top: 20px;
    font-size: 90%;
    align-items: center;
    width: 100%;
  }
  footer .redes li {
    margin-left: 15%;
    font-size: 90%;
    padding-top: 8%;
  }
}
/* MOBILE menor 768px */
@media screen and (max-width: 768px) {
  .nav ul li {
    display: none;
  }
  .logo {
    padding-left: 2px;
    height: 100%;
  }
  .menuHamburguesa {
    display: block;
    color: black;
    height: 100%;
    width: 5%;
    margin-right: 10px;
  }
  .section1 .banner {
    width: 100%;
    height: 269px;
  }
}

/*# sourceMappingURL=style.css.map */
