footer {
    background-color: orange (123, 213, 248);
    .fo {
        display: flex;
        flex-direction: column;
        padding-top: 1%;    
        width: 25%;
        .titulo {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 1%;
        }
    }

    .newsletter {
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
    }    
    .redes {
        width: 25%;
        padding-top: 1%;
        color: black;
        display: flex;
        flex-direction: column;
    }
    li {
        padding-top: 3%;
        list-style: none;
    }
}