/* GRID ITEM FOOTER*/
footer {
    display: flex;
    background-color: rgb(165, 164, 164);
    .fo {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        width: 25%;
    }
    .titulo {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 1%;
        
    }
    .newsletter {
        padding-top: 1%;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
    }    
    .redes {
        width: 25%;
        padding-top: 1%;
        color: black;
        display: flex;
        flex-direction: column;
    }
    li {
        padding-top: 3%;
        list-style: none;
    }
}