/* GRID ITEM HEADER */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    .enlaces:hover {
        background-color: cornflowerblue;
        color: white;
    }

    .enlaces:visited {
        background-color: black;
    }

    .logo {
        width: 14%;
        height: 100%;
    }

    .nav ul {
        display: flex;
        justify-content: flex-end;
    }

    .nav ul li {
        list-style: none;
        padding-left: 15%;
        padding-right: 15px;
    }

    .menuHamburguesa {
        display: none;
    }
}