header {
    background-color: white;
    width: 100%;

    nav ul li a {
        background-color: white;
        transition: background-color .5s;
    }

    nav ul li a:hover {
        background-color: rgb(111, 132, 226);
    }
}

.logo {
    width: 100px;
}

.navbar-collapse {
    flex-grow: 0;
}